#title{
position: absolute;
top:50px;
left:100px;
font-size: 30;
}
#background{
position: absolute;
top: 0;
left:0;
background-color: #1976D2;
height:50%;
width: 100%;
/*opacity: .5;*/
z-index: 1;
display: flex;
}